<h1>Wine Search</h1>

<p>What are you searching for?</p>

<form action="/search_to_results">
  <div>
    <label for="user_input">Wine Search Box</label>
    <input type="text" name="user_wine_search" id="user_input">
<p>Hint: Your results will be more accurate if you provide more information</p>
  </div>

  <button>Search wines</button>
</form>
