<!-- Validation failure messages -->
<% if @tasting_note_tag.errors.any? %>
  <% @tasting_note_tag.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Tasting Note Tag</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_tasting_note_tag" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for tasting_note_name -->
      <div class="form-group">
        <label for="tasting_note_name" class="control-label">
          Tasting note name
        </label>

        <input type="text" id="tasting_note_name" name="tasting_note_name" placeholder="Tasting note name" class="form-control" value="<%= @tasting_note_tag.tasting_note_name %>">
      </div>

      <button class="btn btn-success">
        Create Tasting Note Tag
      </button>
      or
      <a href="/tasting_note_tags">Cancel</a>
    </form>
  </div>
</div>
